body {
    font-family: arial, sans-serif;
    font-size: 90%;
    color: #9F9F9F;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

div#page-body {
    width: 894px;
    margin: 1.8em auto 0 auto;
}

div#entity-containe {
    height: 24em;
    background: linear-gradient(-224deg, green, yellow);
}

div#virtual-scroll {
    overflow-x: scroll;
}
    div#virtual-scroll>div {
        height: 1px;
    }

div#entity-scroll {
    overflow-x: scroll;
}

